.body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
  }
  
  .carSearchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -300px; /* Adjust the margin-top as needed */
  }

  .underCar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -200px; 
  }
  
  
  
  .carButton {
    margin-top: 10px;
  }
  